<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheeet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">

<nav class="navbar navbar-inverse fixed-top py-0">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
            <ul class="nav navbar-nav">
                <li class="active"> <a href="/" class="navbar-brand">Task-Dashboard</a></li>
                <li><a href="/tasks">Home</a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if(!currentUser){ %>
                    <li><a href="/signup">SignUp</a></li>
                    <% } else { %>
                        <li> <a href="#">Signed In as <%= currentUser.username%></a></li>
                        <li><a href="/logout">Logout</a></li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <% if (error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
            <% if (success && success.length>0) { %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
                <% } %>
</div>

<div class="container align-center">
    <div class="row">
        <div style="padding-left:90px; width:30%; margin: 0 auto;">
            <h1 style="text-align:center"> Workers Login</h1>

            <form action="/login" method="post">
                <div class="group">
                    <input class="form-control" type="email" name="username" placeholder="email">
                </div><br>
                <div class="group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div><br>
                <div class="group">
                    <input class="form-control btn-md btn-success" type="submit" value="Login">
                </div><br>
            </form>
        </div>
    </div>
</div>