<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheeet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">

<nav class="navbar navbar-inverse fixed-top py-0">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <ul class="nav navbar-nav">
                <li class="active"> <a href="/" class="navbar-brand">Task-Dashboard</a></li>
                <li><a href="#">Home</a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <% if(!currentUser){ %>
                    <li><a href="/signup">SignUp</a></li>
                    <% } else { %>
                        <li> <a href="#">Signed In as <%= currentUser.username%></a></li>
                        <li><a href="/logout">Logout</a></li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>


<div class="container align-center">
    <div class="row">
        <h1 style="text-align:center">Login</h1>
        <div style="padding-left:90px; width:30%; margin: 0 auto;">
            <form class="inline">
                <button class="btn-sm text-primary"><a href="/login">Workers</a></button>
                <button class="btn-sm text-info"><a href="/loginm">Managers</a></button>
            </form>

        </div>
    </div>
</div>